@import "./bootstrap_override.scss";
::-webkit-scrollbar {
  display: none;
}
header {
  .avatar {
    width: 50px;
  }
  i {
    color: $gray-500;
  }
}
.myiconbtn {
  background-color: #212529;
  border-color: rgba(122, 122, 122, 0.973);
  color: rgba(122, 122, 122, 0.973);
  border: solid 1px;
  font-size: 15px;
  padding-inline: 10px;
}

.footer-color {
  color: rgba(141, 138, 138, 0.91);
}

.footerbtn {
  border: solid rgba(122, 122, 122, 0.973) 1px;
  background-color: #212529;
  border-color: rgba(122, 122, 122, 0.973);
  color: rgba(122, 122, 122, 0.973);
  padding: 6px;
  text-decoration: none;
}

.icons-btn {
  background-color: #212529;
  border-color: rgba(122, 122, 122, 0.973);
  color: rgba(122, 122, 122, 0.973);

  font-size: 15px;
  padding-inline: 10px;
}
